.container__shop {
    width: 100%;
    padding-top: 20px;
    &-div {
        padding: 40px;
        width: 1111px;
        margin: auto;
    }
    &-header {
        &-searchbar {
            display: flex;
            input {
                padding: 4px;
                color: $greyTxt;
                border: 1px solid $orange;
                border-right: none;
                outline: none;
                height: 50px;
                font-size: 1.3rem;
                padding: 3px;
            }
            button {
                color: $orange;
                outline: none;
                border: none;
                height: 50px;
                background-color: #fff;
                border: 1px solid $orange;
                border-left: none;
                cursor: pointer;
                font-size: 1.6rem;
                padding-right: 10px;
            }
        }
    }
    &__content {
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        &-panel {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            gap: 10px;
            h3 {
                font-size: 1.8rem;
                color: $orange;
                font-weight: 800;
            }
            &-category {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 20px;
                li {
                    cursor: pointer;
                    button,
                    a {
                        border: none;
                        background-color: #fff;
                        font-size: 1rem;
                        color: $violet;
                        transition: 0.3s;
                        text-align: left;
                        cursor: pointer;
                        &:hover {
                            color: orange;
                        }
                    }
                }
            }
        }
        &-priceRange {
            h3 {
                font-size: 1.8rem;
                color: $orange;
                margin-bottom: 10px;
                font-weight: 800;
            }
        }
    }
    &__products {
        width: 100%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        &__card {
            width: 300px;

            border: 2px solid $violet;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            picture {
                img {
                    width: 100%;
                }
            }
            &-details {
                padding: 0px 5px 5px 5px;
                display: flex;
                &-content {
                    display: flex;
                    flex-direction: column;
                    h4 {
                        text-align: center;
                        font-size: 2rem;
                        color: $orange;
                    }
                    &-txt {
                        display: flex;
                        text-align: center;
                        font-size: 0.8rem;
                    }
                    &-price {
                        font-weight: 800;
                        color: $orange;
                        text-align: center;
                    }
                    &-button {
                        display: flex;
                        margin: 10px 0px 10px 0px;
                        align-self: center;
                        width: max-content;
                        color: #fff;
                        background-color: $violet;
                        border: none;
                        border-radius: 16px;
                        padding: 4px 16px;
                        cursor: pointer;
                        gap: 10px;
                        font-size: 0.9rem;
                        align-items: center;
                        font-weight: 400;
                        transition: 0.3s;
                        &:hover {
                            background-color: #8331fd;
                        }
                        i {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
        &-title {
            text-align: center;
            font-weight: 800;
            letter-spacing: 1.4px;
            font-size: 2rem;
            padding: 20px;
        }
    }

    .active {
        color: $orange;
    }
}
