$blue: #46a2fd;
$grey: #f2f2f2;
$violet: #6500ff;
$orange: #ff5f61;
$darkgrey: #20324a;
$yellow: #ffc205;
$greyTxt: #9e9e9e;

%button {
    color: #fff;
    background-color: $orange;
    padding: 2px 14px;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: 1.2px;
    align-self: center;
    border-radius: 16px;
    transition: all ease 0.3s;
    &:hover {
        color: $darkgrey;
    }
}

%buttonLikeDislike {
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px 5px;
    height: 20px;
    width: 17px;
    margin-right: 10px;
    transition: all ease 0.3s;
    &:hover {
        color: #fff;
        border: 2px solid #000;
    }
}

%detailsCart {
    color: $greyTxt;
    text-align: center;
}
