@import "variables";
@import "login";
@import "forum";
@import "navbar";
@import "home";
@import "newsletter";
@import "move";
@import "experiences";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
.btn {
    border: 1px solid $blue;
    border-radius: 50%;
    padding: 4px 8.5px;
    color: $blue;
    transition: 0.3s;
    &:hover {
        background-color: $blue;
        color: #fff;
    }
}
