@import "variables";
@import "login";
@import "forum";
@import "navbar";
@import "home";
@import "newsletter";
@import "move";
@import "experiences";
@import "footer";
@import "shop";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

// BUTTONS SWEET ALERT SHOP
.btm-cancel {
    background-color: rgb(207, 32, 32);
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
    color: #fff;
    font-weight: 600;
    &:hover {
        background-color: rgb(236, 46, 46);
    }
}
.btm-success {
    @extend .btm-cancel;

    background-color: rgb(136, 216, 16);
    &:hover {
        background-color: rgb(157, 250, 18);
    }
}
