@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800&display=swap");
.move__content__container__card-details-btn, .main__content__txt-btn, .header__btn {
  color: #fff;
  background-color: #ff5f61;
  padding: 2px 14px;
  font-size: 0.9rem;
  cursor: pointer;
  letter-spacing: 1.2px;
  align-self: center;
  border-radius: 16px;
  transition: all ease 0.3s;
}
.move__content__container__card-details-btn:hover, .main__content__txt-btn:hover, .header__btn:hover {
  color: #20324a;
}

.container__forum__center #containerBlog .containerBlog__btns #dislike, .container__forum__center #containerBlog .containerBlog__btns #like {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  padding: 1px 5px;
  height: 20px;
  width: 17px;
  margin-right: 10px;
  transition: all ease 0.3s;
}
.container__forum__center #containerBlog .containerBlog__btns #dislike:hover, .container__forum__center #containerBlog .containerBlog__btns #like:hover {
  color: #fff;
  border: 2px solid #000;
}

.cart__container__products__content__card-totalPrice p, .cart__container__products__content__card-totalPrice .container__back div button, .container__back div .cart__container__products__content__card-totalPrice button, .cart__container__products__content__card-price p, .cart__container__products__content__card-price .container__back div button, .container__back div .cart__container__products__content__card-price button, .cart__container__products__content__card-quantity p, .cart__container__products__content__card-quantity .container__back div button, .container__back div .cart__container__products__content__card-quantity button, .cart__container__products__content__card-title p, .cart__container__products__content__card-title .container__back div button, .container__back div .cart__container__products__content__card-title button {
  color: #9e9e9e;
  text-align: center;
}

.body-login {
  background-image: url(../images/bg6.jpg);
}

.main-login {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.container__main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
  top: 200px;
}

.container__back {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: #6500ff;
  border-radius: 16px;
  border: 1px solid #ff5f61;
}
.container__back div {
  margin: 100px 40px;
  color: #fff;
  transition: all 500ms;
}
.container__back div h3 {
  font-weight: 400;
  font-size: 26px;
}
.container__back div p, .container__back div button {
  margin-top: 30px;
}
.container__back div button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: all 0.3s;
}
.container__back div button:hover {
  background-color: #fff;
  color: #ff5f61;
  border: 2px solid #ff5f61;
}

/* formularios */
.container__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}
.container__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #ff5f61;
}
.container__login-register form input, .container__login-register form .modal .form__modal__content textarea, .modal .form__modal__content .container__login-register form textarea, .container__login-register form .modal .form__modal__content select, .modal .form__modal__content .container__login-register form select {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
}
.container__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background-color: #ff5f61;
  color: #fff;
  cursor: pointer;
}
.container__login-register form .password-box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 5px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.61);
  margin-top: 10px;
}
.container__login-register form .password-box input, .container__login-register form .password-box .modal .form__modal__content textarea, .modal .form__modal__content .container__login-register form .password-box textarea, .container__login-register form .password-box .modal .form__modal__content select, .modal .form__modal__content .container__login-register form .password-box select {
  display: flex;
  width: auto;
  align-self: center;
  margin-top: 0;
}

.form__login {
  opacity: 1;
  display: block;
}
.form__login h2 {
  color: #ff5f61;
}

.form__register {
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 850px) {
  .main-login {
    margin-top: 50px;
  }
  .container__back {
    width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .container__back div {
    margin: 0px;
    position: absolute;
  }
  /*FORMS*/
  .container__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .container__login-register form {
    position: relative;
  }
}
.container__forum {
  width: 100%;
  padding-top: 20px;
}
.container__forum__center {
  width: 1111px;
  margin: auto;
}
.container__forum__center__header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-around;
}
.container__forum__center__header h2 {
  color: #000;
}
.container__forum__center hr {
  color: #6500ff;
  width: 70%;
  margin: auto;
}
.container__forum__center__top {
  margin: 20px 0px 20px 0px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__forum__center__top .modal-click {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2rem;
}
.container__forum__center__top .modal-click h3 {
  color: #ff5f61;
}
.container__forum__center__top .modal-click button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #6500ff;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
}
.container__forum__center__top .modal-click button:hover {
  background-color: #ff5f61;
}
.container__forum__center__top .modal-click button i {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 2rem;
}
.container__forum__center__top .date {
  display: flex;
}
.container__forum__center__top .date .dateRight {
  display: flex;
  gap: 20px;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.container__forum__center__top .date .dateRight #dateText {
  color: #ff5f61;
}
.container__forum__center__top .date .dateRight #dateNumber {
  color: #6500ff;
}
.container__forum__center__top .date .dateRight #dateMonth,
.container__forum__center__top .date .dateRight #dateYear {
  color: #ff5f61;
}
.container__forum__center #containerBlog {
  border: 2px solid #ff5f61;
  border-radius: 16px;
  padding-bottom: 15px;
}
.container__forum__center #containerBlog .containerBlog__card {
  display: flex;
  gap: 60px;
  align-items: center;
  padding-left: 70px;
}
.container__forum__center #containerBlog .containerBlog__card picture img {
  width: 250px;
}
.container__forum__center #containerBlog .containerBlog__content {
  justify-content: center;
  height: 100%;
  display: flex;
  height: 280px;
  flex-direction: column;
  gap: 20px;
}
.container__forum__center #containerBlog .containerBlog__content h2 {
  color: #20324a;
  text-align: start;
  font-weight: 700;
  font-size: 2rem;
}
.container__forum__center #containerBlog .containerBlog__content p, .container__forum__center #containerBlog .containerBlog__content .container__back div button, .container__back div .container__forum__center #containerBlog .containerBlog__content button {
  color: #9e9e9e;
  font-size: 0.9rem;
}
.container__forum__center #containerBlog .containerBlog__info {
  font-size: 0.7rem;
  display: flex;
  gap: 20px;
}
.container__forum__center #containerBlog .containerBlog__btns {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0px 10px 0px 10px;
}
.container__forum__center #containerBlog .containerBlog__btns #like {
  border: 2px solid springgreen;
  transition: all ease 0.3s;
}
.container__forum__center #containerBlog .containerBlog__btns #like:hover {
  background-color: springgreen;
}
.container__forum__center #containerBlog .containerBlog__btns #dislike {
  border: 2px solid rgb(255, 44, 44);
}
.container__forum__center #containerBlog .containerBlog__btns #dislike:hover {
  background-color: rgb(255, 44, 44);
}
.container__forum__center #containerBlog #buttonHearth {
  display: flex;
  justify-content: end;
  padding: 10px 20px 5px 0px;
  font-size: 1.4rem;
  color: #6500ff;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 0.4rem;
  width: 750px;
  padding: 1.3rem;
  position: absolute;
  top: 22%;
  left: 33%;
  height: 500px;
  background-color: #fff;
  border: 3px solid #ff5f61;
  border-radius: 15px;
  z-index: 2;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header picture img {
  border-radius: 20px;
  border: 2px solid #6500ff;
  width: 40px;
}
.modal-header h3 {
  font-size: 2rem;
  color: #6500ff;
}
.modal-header button {
  outline: none;
  border: 2px solid #6500ff;
  border-radius: 20px;
  color: #6500ff;
  padding: 2px 5px;
  background-color: #fff;
  transition: 0.3s;
}
.modal-header button:hover {
  background-color: #6500ff;
  color: #fff;
}
.modal .form__modal {
  width: 500px;
  margin: auto;
  height: 450px;
}
.modal .form__modal__content {
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.modal .form__modal__content input, .modal .form__modal__content textarea, .modal .form__modal__content select {
  padding-left: 5px;
  border: 1px solid #ff5f61;
  color: #6500ff;
  font-size: 1.3rem;
  outline: none;
}
.modal .form__modal__content select {
  width: 100px;
  padding-left: 5px;
  background-color: #fff;
}
.modal .form__modal__content textarea {
  outline: none;
  resize: none;
}
.modal .form__modal__content button {
  width: 50px;
  border-radius: 16px;
  border: 1px solid #ff5f61;
  background-color: #fff;
  color: #6500ff;
}
.modal .form__modal__content button:hover {
  background-color: #ff5f61;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.emptyblogs {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #9e9e9e;
}

.header {
  width: 100%;
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  background-color: #6500ff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 1111px;
  padding: 5px 20px;
  height: 60px;
}
.header__name {
  display: flex;
  align-self: center;
  color: #fff;
  transition: 0.3s;
}
.header__name:hover {
  color: #ffc205;
}
.header__list {
  display: inline-flex;
  list-style: none;
  gap: 50px;
  align-items: center;
}
.header__item {
  display: flex;
  height: 54px;
  justify-content: center;
  align-items: center;
}
.header__item a {
  color: #fff;
  font-size: 0.9rem;
  transition: 0.1s;
}
.header__item a:hover {
  border-bottom: 4px solid #ffc205;
}
.main {
  width: 100%;
  padding-top: 40px;
  background-color: #6500ff;
}
.main__content {
  width: 1111px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: auto;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.main__content__img picture img {
  width: 550px;
  height: 450px;
}
.main__content__txt {
  color: #fff;
  width: 400px;
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
}
.main__content__txt-title {
  font-size: 2.7rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.main__content__txt-paragraph {
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.main__content__txt-btn {
  margin: 10px;
}

.newsletter {
  width: 100%;
  position: relative;
}
.newsletter__button {
  background-color: #ff5f61;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -5px 0px 0px #20324a;
  position: absolute;
  gap: 10px;
  bottom: 70px;
  left: 25%;
  z-index: 10;
}
.newsletter__button-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}
.newsletter__button-txt {
  color: rgba(255, 255, 255, 0.712);
  text-align: center;
}
.newsletter__button__bar {
  height: 4px;
  border: 0.25rem;
}
.newsletter__button__bar hr {
  display: flex;
  color: #fff;
  width: 30%;
  align-self: center;
  margin: auto;
}
.newsletter__button-emailbtn {
  background-color: #fff;
  border-radius: 9px;
  height: 25px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.newsletter__button-emailbtn-input, .newsletter__button-emailbtn-button {
  border-radius: 9px;
  text-align: center;
  font-size: 0.8rem;
  border: none;
  height: 10px;
  width: 80px;
  margin-left: 10px;
}
.newsletter__button-emailbtn-input:focus, .newsletter__button-emailbtn-button:focus {
  border: none;
}
.newsletter__button-emailbtn-input:active, .newsletter__button-emailbtn-button:active {
  border: none;
}
.newsletter__button-emailbtn-button {
  background-color: #20324a;
  height: 100%;
  width: 20px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  color: #fff;
  margin-left: 15px;
}
.newsletter .containerSlider {
  overflow: hidden;
  width: 700px;
  left: 50%;
  padding-top: 15px;
}
.newsletter .backgroundBox {
  width: 100%;
  background-color: #f2f2f2;
}
.newsletter .slider {
  display: flex;
  width: 1111px;
  margin: auto;
  justify-content: flex-end;
}
.newsletter .slider__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 1em;
}
.newsletter .slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  background-color: #f2f2f2;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  align-items: center;
  transition: opacity 1.5s;
}
.newsletter .slider__body--show {
  opacity: 1;
  pointer-events: unset;
}
.newsletter .slider__body .author {
  color: #ff5f61;
}
.newsletter .slider__review {
  font-weight: 300;
  font-style: italic;
}
.newsletter .slider__arrow {
  cursor: pointer;
}
.newsletter .slider__arrow:nth-of-type(2) {
  justify-self: end;
}

.move__content {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 50px;
}
.move__content__container {
  width: 1111px;
  margin: auto;
}
.move__content__container__card {
  display: flex;
  gap: 60px;
  align-items: center;
  padding: 30px;
}
.move__content__container__card-img img {
  width: 450px;
}
.move__content__container__card-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.move__content__container__card-details-title {
  color: #20324a;
  font-weight: 500;
  letter-spacing: 1.1px;
  font-size: 2rem;
}
.move__content__container__card-details-txt {
  color: #9e9e9e;
}
.move__content__container__card-details-btn {
  align-self: flex-start;
}

.animation {
  opacity: 0;
  transition: all 0.5s;
}

.showUp {
  -webkit-animation: showUp 1s;
          animation: showUp 1s;
}

@-webkit-keyframes showUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.showDown {
  -webkit-animation: showDown 1s;
          animation: showDown 1s;
}

@-webkit-keyframes showDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes showDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
.showAside {
  -webkit-animation: showAside 1s;
          animation: showAside 1s;
}

@-webkit-keyframes showaside {
  0% {
    transform: translatex(-200px);
  }
  100% {
    transform: translatex(0);
  }
}

@keyframes showaside {
  0% {
    transform: translatex(-200px);
  }
  100% {
    transform: translatex(0);
  }
}
.experiences {
  background-color: #f2f2f2;
  width: 100%;
}
.experiences__container {
  width: 1111px;
  margin: auto;
  display: flex;
  padding: 20px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.experiences__container__box {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.experiences__container__box-ico, .experiences__container__box-ico3, .experiences__container__box-ico2 {
  font-size: 4rem;
  text-align: center;
  background-color: #4bd2ff;
  color: #fff;
  padding: 0px 5px;
  width: 110px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.experiences__container__box-ico:hover, .experiences__container__box-ico3:hover, .experiences__container__box-ico2:hover {
  box-shadow: 0px 0px 19px 6px rgba(87, 230, 255, 0.671);
}
.experiences__container__box-ico2 {
  background-color: #ffb14c;
}
.experiences__container__box-ico2:hover {
  box-shadow: 0px 0px 19px 6px rgba(253, 200, 53, 0.671);
}
.experiences__container__box-ico3 {
  background-color: #8c2cfa;
}
.experiences__container__box-ico3:hover {
  box-shadow: 0px 0px 19px 6px rgba(165, 68, 255, 0.671);
}
.experiences__container__box-txt h4 {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}
.experiences__container__box-txt p, .experiences__container__box-txt .container__back div button, .container__back div .experiences__container__box-txt button {
  font-size: 0.8rem;
  text-align: center;
  color: #9e9e9e;
}

.footer {
  background-color: #f2f2f2;
  width: 100%;
  padding: 20px 0px 40px 0px;
}
.footer__content {
  width: 1111px;
  margin: auto;
  padding-top: 50px;
  border-top: 1px solid #9e9e9e;
  display: flex;
  justify-content: space-between;
}
.footer__content-me {
  display: flex;
  gap: 20px;
  color: #9e9e9e;
  font-size: 0.8rem;
}
.footer__content__info__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.footer__content__info__list-item a {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.container__shop {
  width: 100%;
  padding-top: 20px;
}
.container__shop-div {
  padding: 40px;
  width: 1111px;
  margin: auto;
}
.container__shop-header-searchbar {
  display: flex;
}
.container__shop-header-searchbar input, .container__shop-header-searchbar .modal .form__modal__content select, .modal .form__modal__content .container__shop-header-searchbar select, .container__shop-header-searchbar .modal .form__modal__content textarea, .modal .form__modal__content .container__shop-header-searchbar textarea {
  padding: 4px;
  color: #9e9e9e;
  border: 1px solid #ff5f61;
  border-right: none;
  outline: none;
  height: 50px;
  font-size: 1.3rem;
  padding: 3px;
}
.container__shop-header-searchbar button {
  color: #ff5f61;
  outline: none;
  border: none;
  height: 50px;
  background-color: #fff;
  border: 1px solid #ff5f61;
  border-left: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding-right: 10px;
}
.container__shop__content {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.container__shop__content-panel {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}
.container__shop__content-panel h3 {
  font-size: 1.8rem;
  color: #ff5f61;
  font-weight: 800;
}
.container__shop__content-panel-category {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container__shop__content-panel-category li {
  cursor: pointer;
}
.container__shop__content-panel-category li button,
.container__shop__content-panel-category li a {
  border: none;
  background-color: #fff;
  font-size: 1rem;
  color: #6500ff;
  transition: 0.3s;
  text-align: left;
  cursor: pointer;
}
.container__shop__content-panel-category li button:hover,
.container__shop__content-panel-category li a:hover {
  color: orange;
}
.container__shop__content-priceRange h3 {
  font-size: 1.8rem;
  color: #ff5f61;
  margin-bottom: 10px;
  font-weight: 800;
}
.container__shop__products {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.container__shop__products__card {
  width: 300px;
  height: 375px;
  border: 2px solid #6500ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}
.container__shop__products__card picture img {
  width: 100%;
}
.container__shop__products__card-details {
  padding: 0px 5px 5px 5px;
  display: flex;
}
.container__shop__products__card-details-content {
  display: flex;
  flex-direction: column;
}
.container__shop__products__card-details-content h4 {
  text-align: center;
  font-size: 2rem;
  color: #ff5f61;
}
.container__shop__products__card-details-content-txt {
  display: flex;
  text-align: center;
  font-size: 0.8rem;
}
.container__shop__products__card-details-content-price {
  font-weight: 800;
  color: #ff5f61;
  text-align: center;
}
.container__shop__products__card-details-content-button {
  display: flex;
  margin: 10px 0px 10px 0px;
  align-self: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  background-color: #6500ff;
  border: 1px solid #ff5f61;
  border-radius: 16px;
  padding: 4px 16px;
  cursor: pointer;
  gap: 10px;
  font-size: 0.9rem;
  align-items: center;
  font-weight: 400;
  transition: 0.3s;
}
.container__shop__products__card-details-content-button:hover {
  background-color: #ff5f61;
  color: #fff;
  border: 1px solid #6500ff;
}
.container__shop__products__card-details-content-button i {
  font-size: 1.1rem;
}
.container__shop__products-title {
  text-align: center;
  font-weight: 800;
  letter-spacing: 1.4px;
  font-size: 2rem;
  padding: 20px;
}
.container__shop .active {
  color: #ff5f61;
}

.cart {
  width: 1111px;
  margin: auto;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 30px 0px;
}
.cart-header h2 {
  font-weight: 800;
  letter-spacing: 1.4px;
  font-size: 2.4rem;
  color: #ff5f61;
}
.cart-header a {
  color: #6500ff;
  font-size: 0.9rem;
  transition: 0.3s;
}
.cart-header a:hover {
  color: #ff5f61;
}
.cart__container {
  width: 1111px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cart__container__products {
  padding: 15px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, #ff5f61, #6500ff);
  display: flex;
  flex-direction: column;
}
.cart__container__products #legendEmpty {
  color: #9e9e9e;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.cart__container__products__content {
  display: flex;
  flex-direction: column;
}
.cart__container__products__content__card {
  width: 650px;
  padding: 15px 10px;
  border-bottom: 1px solid #9e9e9e;
  border-top: 1px solid #9e9e9e;
}
.cart__container__products__content__card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__container__products__content__card picture img {
  width: 200px;
  border-radius: 16px;
}
.cart__container__products__content__card-deleteButton {
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: rgb(245, 9, 9);
  cursor: pointer;
  background-color: #fff;
}
.cart__container__checkout {
  width: 400px;
  display: flex;
  flex-direction: column;
}
.cart__container__checkout__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.cart__container__checkout__card-price {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.cart__container__checkout__card-price p, .cart__container__checkout__card-price .container__back div button, .container__back div .cart__container__checkout__card-price button {
  color: #9e9e9e;
  letter-spacing: 1.3px;
  font-weight: 800;
  font-size: 1.3rem;
}
.cart__container__checkout__card-price span {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}
.cart__container__checkout__card button {
  border: none;
  background-color: #6500ff;
  color: #fff;
  padding: 5px 15px;
  font-weight: 600;
  width: 100%;
  height: 40px;
  transition: 0.3s;
}
.cart__container__checkout__card button:hover {
  background-color: #8331fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.btn {
  border: 1px solid #46a2fd;
  border-radius: 50%;
  padding: 4px 8.5px;
  color: #46a2fd;
  transition: 0.3s;
}
.btn:hover {
  background-color: #46a2fd;
  color: #fff;
}/*# sourceMappingURL=style.css.map */